USE [ScaDataDB]
GO
/****** Объект:  Table [dbo].[tbl_WEB_2Block]    Дата сценария: 05/29/2015 12:35:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WEB_2Block](
	[User] [nvarchar](50) NOT NULL,
	[ActionDt] [datetime] NOT NULL,
	[WaitingTime] [int] NOT NULL
) ON [PRIMARY]
