USE [ScaDataDB]
GO
/****** Объект:  Table [dbo].[tbl_WEB_Cities]    Дата сценария: 05/29/2015 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WEB_Cities](
	[ID] [bigint] NOT NULL,
	[Name] [nvarchar](255) NOT NULL
) ON [PRIMARY]
