USE [ScaDataDB]
GO
/****** Object:  Table [dbo].[tbl_ShipmentsCost_ShipmentsType]    Script Date: 03/17/2011 14:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ShipmentsCost_ShipmentsType](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
